<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Loading Icon</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <div class="container">
      <h1>Standby...</h1>
      <div class="loader"></div>
    </div>
    
</body>
</html>