body, h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #2c3e50;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

html {
    background: #ecf0f1;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
    animation: appear 1s 3s forwards;
    opacity: 0;
}

.container {
    margin: 4em;
    text-align: center;
}

.loader {
    width: 70px;
    height: 70px;
    border: 16px solid #bdc3c7;
    margin: 100px auto;
    border-radius: 50%;
    border-top-color: #1abc9c;
    border-bottom-color: #3498db;
    animation-name: load;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}